@charset "utf-8";

body {
	font-family: "游ゴシック medium", "Yu Gothic medium","游ゴシック体",YuGothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Meiryo, "メイリオ", sans-serif;
	color: black;
	background: #6D831A;
}
#container {
	margin: 0 auto;
	width: 98%;
	background-color: #FFF;
}
img,video {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
header {
    width: 100%;
}

.drawerBt {
   // display: none;
}

.matome {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-around;
}
.ue {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  //  padding: 10px 0 0 1%;
}
.ue section img {
    margin-top: 10px;
    padding-bottom: 10px;
}
.ue .tenmei {
color: #0C392D;
margin-top: 45px;
text-align: center;
font-size: 1.2rem;
padding-left: 2%;
}
.drawerBt {
    display: none;
}
.yoko {
    width: 60%;
}
.yoko {
    justify-content: space-around;
    margin-top: 45px;
}
.yoko nav {
    text-align: center;
}
   .yoko nav ul{
    margin: 0 auto;
}
   .yoko nav li{
    list-style: none;
    display: inline-block;
    width: 14%;
    min-width: 90px;
    font-size: 1rem;
    }
    nav li:not(:last-child){
    border-right:6px solid #6D831A;
    }
   .yoko nav a{
    text-decoration: none;
    color: #0C392D;
    }
   .yoko nav a:hover{
    color: #6D831A;
}
nav li{
list-style: none;
display: inline-block;
}
nav li:not(:last-child){
border-right:2px solid silver;
height: 20px;
}
nav a{
text-decoration: none;
color: #0C392D;
}
nav a:hover{
color:#0C392D;
border-bottom:2px solid #6D831A;
}



.top {
    width: 100%;
    margin: 0 auto;
    background: #0C392D;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 50px;
}

.top p {
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    line-height: 0.5;
}
.top p a {
    margin: 0 auto;
    font-size: 0.7rem;
    font-weight: 600;
    text-align: center;
}

main {
    width: 90%;
    margin: 0 auto;
}
.address {
    display: flex;
}
h2 {
    font-size: 3rem;
    color: #0C392D;
    font-weight: bold;
    margin-left: 3%;
    padding-top: 30px;
}
h3 {
    margin: 0 0 40px 6%;
    font-size: 1rem;
    color: #0C392D;
    font-weight: bold;
}
.table {
    margin-top: 40px;
	display:table;
  width: 40%;
  font-size: 1rem;
  line-height: 1rem;
}
.table-row{
  display: table-row;
}
.table-cell {
	display:table-cell;
  }

.map {
   // width: 10%;
}
.map iframe {
   // width: fit-content;
}

/* トップに戻るボタン */

.pagetop {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 40px;
}

.pagetop a {
	display: block;
	padding: 10px 10px;
	border-radius: 10px;
}

footer {
    margin: 0 auto;
	width: 100%;
	background:#0C392D;
	color: #FFF;
    margin-top: 80px;
}
footer .f_block {
	font-size: 0.8rem;
    margin-top: 5px;
    padding: 5px 0 25px 0;
}
footer .sanoliva {
    display: flex;
    width: 95%;
    justify-content: space-around;
    height: 90px;
    padding-top: 10px;
    text-align: center;
    margin-left: 0;
    padding-left: 2%;
}
.sanoliva .migi {
    
    width: 45%;
    margin:0 auto;
    height: 90px;
    padding-top: 7px;
    margin-left: 0;
    padding-left: 20%;
}
.sanoliva ul {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}
.sanoliva p {
    text-align: center;
    margin: 10px;
    font-size: 0.9rem;
}
.migi .sanoliva02 a{
    font-size: 1rem;
    font-weight: 500;
}

footer ul li a {
    color:#FFF;
    }

    footer ul li a:hover {
 
        color:#6D831A;
        }
/*--------menu-hanbaga--------*/


  
@media screen and (max-width: 1025px){
    .yoko {
        width: 90%;
        margin-top: 15px;
    }
    .ue .tenmei {
        margin-top: 10px;
        }
  }
  
  
@media screen and (max-width: 769px){
    .yoko {
        width: 100%;
    }
.ue {
    width: 50%;
}
.tenmei {
    width: 100%;
}
.address {
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
.map {
 //   width: 20%;
}
.table {
    width: 100%;
    line-height: 1.4rem;
    margin-bottom: 20px;
}
h3 {
    margin: 0 0 10px 6%;
}
h2 {
    font-size: 2.5rem;
    padding-top: 0;
}

@media screen and (max-width: 651px){
    .yoko nav ul {
        display: display;
    }
    .table {
      margin-top: 15px;
      font-size: 0.5rem;
    }
    .map {
         width: 10%;
     }
     .map iframe {
         width: fit-content;
     }
    .drawerBg {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 999;
        background-color: rgba(100, 100, 100, 0.3);
        display: none;
        top: 0;
        left: 0;
    }
    
    .drawerBt {
        display: block;
        background: none;
        border: none;
        padding: 0;
        width: 42px;
        letter-spacing: 1em;
        cursor: pointer;
        position: fixed;
        right: 4%;
        z-index: 9999;
        text-align: center;
        outline: none;
    }
    
    .drawerBt.active .drawerBar {
        width: 49px;
    }
    
    .drawerBt.active .drawerBar1 {
        transform: rotate(30deg);
    }
    
    .drawerBt.active .drawerBar2 {
        opacity: 0;
    }
    
    .drawerBt.active .drawerBar3 {
        transform: rotate(-30deg);
    }
    
    .drawerBt.active .drawerMenuText {
        display: none;
    }
    
    .drawerBt.active .drawerClose {
        display: block;
    }
    
    .drawerBar {
        display: block;
        height: 2px;
        margin: 10px 0;
        transition: all 0.2s; /*表示の遅延効果*/
        transform-origin: 0 0;
    }
    
    .drawerText {
        text-align: center;
        font-size: 10px;
        
    }
    
    .drawerClose {
        letter-spacing: 0.08em;
        display: none;
    }
    
    .drawerMenuText {
        display: block;
    }
    
    /*navの設定*/
    
    .dNavWrapper {
        width: 40%; /*右側に300px隠している*/
        margin: 0;
        transition: all 0.2s;
        transform: translate(220px); /*クリックすると-300pxされる、ちょうどよりも少し大きめに設定するとバグが発生しずらい*/
        position: fixed;
        right: 0;
        z-index: 1000;
        background-color: rgba(250, 250, 250, 0.6);
    }
    
    .dNavWrapper.open {
        transform: translate(0); /*オープンしてる状態は0じゃないと表示されない*/
    }
    
    /*+++ Default Navigation CSS +++*/
    
    .dNav {
        padding: 40px 0;
        background: none;
        line-height: 3rem;
    }
    
    .dNav li {
        width:100%;
        font-size: 0.7rem;
        line-height: 2rem;
        border:none;
        font-weight: bold;
    }
    
    .drawerBt {
        background-color: #fff;
        width: 43px;
        padding: 5px;
        
    }
    
    .drawerBar {
        background-color: #000;
    }
}
@media screen and (max-width: 426px){

.yoko {
    margin-top: 10px;
}
   .yoko nav li{
    font-size: 0.7rem;
    }
    nav li:not(:last-child){
    border-right:none;
    }
nav li:not(:last-child){
border-right: none;
}

.matome {
    width: 100%;
    flex-direction: column;
}
.matome .ue {
    width: 70%;
}
.ue section img {
    display: none;
}
.ue .tenmei {
display: inline-block;
font-size: 0.9rem;
margin: 20px 5% 15px 0;
}
.map {
     width: 7%;
     padding-left: 0 auto;
 }
 .map iframe {
     width: fit-content;
 }

/*footer*/


footer .f_block {
	font-size: 0.5rem;
}
footer .sanoliva {
    height: 50px;
}
footer img {
    width: 70%;
}

.sanoliva .migi {
    width: 80%;
    height: 50px;
}
.sanoliva ul {
    font-size: 0.5rem;
}
.sanoliva p {
    margin: 5px;
    font-size: 0.5rem;
}
.migi .sanoliva02 a{
    font-size: 0.5rem;
    font-weight: 400;
}

.pagetop {
    bottom: 5px;
    right: 10px;
}

.pagetop a {
	padding: 5px 5px;
}
.top {
    padding: 20px 0;
    margin-bottom: 20px;
}
} 
@media screen and (max-width: 321px){
    .top {
        padding: 10px 0;
        margin-bottom: 10px;
    }
    .yoko03 {
        padding-top: 10px;
    }
    .yoko03 section {
        margin: 0 auto;
        flex-direction: column;
    }
    .read {
        
    border-bottom: none;
    }
    .read a {
        font-size: 0.5rem;
    }
footer img {
    width: 50%;
    margin-top: 10px;
}

.sanoliva .migi {
    padding-left: 0;
}
.sanoliva ul {
    display: flex;
    flex-wrap: wrap;
}
.migi ul li {
    width: calc(100%/3);
}

}